@font-face{
	font-family: 'axis';
	src: url('../font/axis.eot');
	src: url('../font/axis.eot?#iefix')   format('embedded-opentype'),
	     url('../font/axis.woff2')        format('woff2'),
	     url('../font/axis.woff')         format('woff'),
	     url('../font/axis.ttf')          format('truetype'),
	     url('../font/axis.svg#axisbold') format('svg');
}

@font-face{
	font-family: 'proxima';
	src: url('../font/ProximaNova.eot');
	src: url('../font/ProximaNova.eot?#iefix')   format('embedded-opentype'),
	     url('../font/ProximaNova.woff2')        format('woff2'),
	     url('../font/ProximaNova.woff')         format('woff'),
	     url('../font/ProximaNova.ttf')          format('truetype'),
	     url('../font/ProximaNova.svg#axisbold') format('svg');
}
